<div class="container w-25">
    <img class="mt-5 w-100" src="http://www.javiergonzalez.de/easyclean/logo.png"/>
    <form #loginForm="ngForm" class="form-inline mt-5 ml-10 mr-10" (ngSubmit)="login()">
        <input class="form-control w-100 mt-2" type="email" placeholder="Email" name="email" required [(ngModel)]="model.email">
        <input class="form-control w-100 mt-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-primary w-100 mt-2" type="submit">Login</button>
    </form>
</div>

<div class="footer">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 85" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,0,255,0.4)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(0,0,255,0.2)" />
        </g>
    </svg>
</div>
