.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;  /* Height of the background image */
    background-color: transparent;
    color: white;
    text-align: center;
 }

 .wave {
    height: 100%;
    width: 200%;
    background: url(http://www.javiergonzalez.de/easyclean/wave.svg);
    background-size: 500px 150px;
    bottom: -3px;
    background-repeat: repeat-x;
    position: absolute;
    opacity: 50%;
    pointer-events: none;
  }

  .wave1 {
    left: -100%;
    opacity: 50%;
    animation: mymove 5s linear infinite;
  }
  
  .wave2 {
    left: -30%;
    opacity: 30%;
    bottom: -30px;
    animation: mymove 8s linear infinite;
  }

  .wave3 {
    left: -40%;
    opacity: 30%;
    bottom: -30px;
    animation: mymove 3s linear infinite;
  }

  @keyframes mymove {
    from {left: -500px}
    to {left: 0}
  }
