<div class="row">
    <table class="table">
        <tr>
            <th style="width: 40%;">Employee</th>
            <th style="width: 40%;">Active roles</th>
        </tr>
        <tr *ngFor="let user of users">
            <td *ngIf="user.roles.includes('Employee')">{{user.surname}}</td>
            <td *ngIf="user.roles.includes('Employee')">{{user.roles}}</td>
            <td *ngIf="user.roles.includes('Employee')"><button class="btn btn-info">Edit roles</button></td>
        </tr>
    </table>
</div>