<div class="container mt-4">

    <div class="row">

        <div class="col-sm-4">

            <div class="card">
                <img src="{{user.photoUrl}}" class="card-img-top" alt="Image not available">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}} {{user.surname}}</h5>
                    <div class="card-text">
                        <div>
                            <strong>Location:</strong>
                            <p>{{user.street}}, {{user.number}} {{user.zip}} {{user.city}}</p>
                        </div>
                        <div>
                            <strong>Birthdate:</strong>
                            <p>{{user.dateOfBirth | date:'dd.MM.yyyy'}}</p>
                        </div>
                        <div>
                            <strong>Email:</strong>
                            <p>{{user.email}}</p>
                        </div>
                        <div>
                            <strong>Member since:</strong>
                            <p>{{user.created | date:'dd.MM.yyyy'}}</p>
                        </div>
                        <div>
                            <strong>Last active:</strong>
                            <p>{{user.lastActive | date:'dd.MM.yyyy (HH:mm)'}}</p>
                        </div>
                        <div>
                            <strong>Remaining credit:</strong>
                            <p>{{user.remainingCredit}} €</p>
                        </div>

                        <div>
                            <button type="button" class="btn btn-primary btn-shared-line">Send gift</button>
                            <button type="button" class="btn btn-secondary btn-shared-line">Contact</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Purchases">
                        <div class="media mt-3" *ngFor="let machineUsage of user.machineUsages">
                            <img src={{machineUsage.iconUrl}} class="mr-3 mt-4" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0"><span class="badge badge-primary">Spent: {{machineUsage.totalAmountPaid}} €</span> on {{machineUsage.date | date:'dd.MM.yyyy (HH:mm)'}} at machine {{machineUsage.machineLabeledAs}}</h5>
                                Tariff: "{{machineUsage.tariffName}}".<br>
                                {{machineUsage.quantityOfServicesBooked}} usages of {{machineUsage.pricePerServiceBooked}} € each.<br>
                                Total usage time: {{machineUsage.totalDurationInMinutes}} minutes.<br>
                                {{machineUsage.durationPerServiceBooked}} minutes each usage.
                            </div>
                        </div>
                    </tab>
                    <tab heading="Recharges">
                        <form #topUpForm="ngForm" class="form-inline mt-2 mb-4" (ngSubmit)="topupAccount()">
                            <input class="form-control mr-sm-2" type="number" placeholder="Amount" name="Amount" required [(ngModel)]="topup.amount">
                            <button [disabled]="!topUpForm.valid" class="btn btn-success" type="submit">Charge amount to the client's account</button>
                        </form>
                        <div class="media mb-3" *ngFor="let topup of user.topups">
                            <div class="media-body">
                                <h5 class="mt-0"><span class="badge badge-success">Recharged: {{topup.amount}} €</span> on {{topup.dateOfTopup | date:'dd.MM.yyyy (HH:mm)'}}</h5>
                                The employee {{topup.nameOfEmployee}} made the charge.
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>

    </div>

</div>