<div class="row mt-3">
    <button type="button" class="btn btn-primary full-width" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        <p>{{machineGroup.typeName}}</p>
        <p *ngIf="isCollapsed">(Show machines in this group)</p>
        <p *ngIf="!isCollapsed">(Hide machines in this group)</p>
    </button>
    <div class="card full-width m-2">
        <div class="container">
            <div class="row">
              <div class="col">
                <ul class="list-group m-2">
                    <li class="list-group-item">
                        Number of machines: {{ machineGroup.machines.length}}
                    </li>
                </ul>
              </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary full-width full-height text-wrap" (click)="showNewTariff = !showNewTariff">
                            Create new tariff for this group
                </button>
            </div>
            <div class="col-6">
                <div class="panel" id="result_panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">Available tariffs for this group:</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let tariff of machineGroup.tariffs">
                                {{ tariff.name }}
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <app-machine-tariff-editor [machineGroup]=machineGroup class="full-width ml-2 mr-2" *ngIf="showNewTariff" (submitFormNewTariff)="refreshTariffs($event)" (closeFormNewTariff)="closeFormNewTariff($event)"></app-machine-tariff-editor>
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <app-machine-card *ngFor="let machine of machineGroup.machines"
                          class="d-inline-block"
                          [machine]=machine
                          [iconPath]=machineGroup.iconUrl>
        </app-machine-card>
    </div>
</div>
