<div class="container mt-4">

    <div class="row">

        <div class="col-sm-4">

            <div class="card">
                <img src="{{user?.photoUrl}}" class="card-img-top" alt="Image not available">
                <div class="card-body">
                    <h5 class="card-title">{{user?.name}} {{user?.surname}}</h5>
                    <div class="card-text">
                        <div>
                            <strong>Location:</strong>
                            <p>{{user?.street}}, {{user?.number}} {{user?.zip}} {{user?.city}}</p>
                        </div>
                        <div>
                            <strong>Birthdate:</strong>
                            <p>{{user?.dateOfBirth}}</p>
                        </div>
                        <div>
                            <strong>Email:</strong>
                            <p>{{user?.email}}</p>
                        </div>
                        <div>
                            <strong>Member since:</strong>
                            <p>{{user?.created}}</p>
                        </div>
                        <div>
                            <strong>Last active:</strong>
                            <p>{{user?.lastActive}}</p>
                        </div>
                        <div>
                            <strong>Remaining credit:</strong>
                            <p>{{user?.remainingCredit}} €</p>
                        </div>

                        <div>
                            <button type="button" class="btn btn-primary btn-shared-line">Send gift</button>
                            <button type="button" class="btn btn-secondary btn-shared-line">Contact</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Purchases">
                        <h4>Purchases of {{user?.name}}:</h4>
                        <p>ToDo: List of purchaes go here</p>
                    </tab>
                    <tab heading="Recharges">
                        <h4>Recharges of {{user?.name}}:</h4>
                        <p>ToDo: List of recharges go here</p>
                    </tab>
                </tabset>
            </div>
        </div>

    </div>

</div>