<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">EasyClean</a>

    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/sales']">Ventas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/clients']">Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/machines']">Máquinas</a>
      </li>
      <li *appHasRole="['BusinessOwner']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
    </ul>

  <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" *ngIf="!loggedIn()">
    <input class="form-control mr-sm-2" type="email" placeholder="Email" name="email" required [(ngModel)]="model.email">
    <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
  </form>

  <div *ngIf="loggedIn()">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-light my-2 my-sm-0 dropdown-toggle"
              aria-controls="dropdown-basic">logged in as {{authService.decodedToken.email}}<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Settings</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
  
</nav>